<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ site.Params.description }}">
  <meta name="author" content="{{ site.Params.author }}">
  <link rel="icon" href="{{ "favicon.ico" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
  <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">
  {{ $css := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
</head>
